<section class="detail-section">
    <div class="detail-container">
        <div class="detail-image">
            <img src="../../../../assets/images/dash2.jpg" alt="" srcset="">
            <div class="creator-info">
                <i class="fas fa-user creator-icon"></i>
                <p class="creator-name">Nombre de creador</p>
            </div>
        </div>             
        <div class="detail-description">
            <h2 class="animate__animated animate__fadeInRight">Nombre evento</h2>
            <p class="animate__animated animate__fadeInRight animate__delay-05 event-state"><strong>Estado: </strong>Activo</p>
            <p class="animate__animated animate__fadeInRight animate__delay-05"><strong>Cierre del evento: </strong>13/03/2021</p>
            <p class="animate__animated animate__fadeInRight animate__delay-05">
                Descripción Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quia quidem perspiciatis sed! Nemo delectus 
                doloremque id aliquam, hic vitae quia! Aut numquam, fuga voluptatum consequuntur mollitia aspernatur sunt vel?
                Descripción Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quia quidem perspiciatis sed! Nemo delectus 
                doloremque id aliquam, hic vitae quia! Aut numquam, fuga voluptatum consequuntur mollitia aspernatur sunt vel?
                Descripción Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quia quidem perspiciatis sed! Nemo delectus 
                doloremque id aliquam, hic vitae quia! Aut numquam, fuga voluptatum consequuntur mollitia aspernatur sunt vel?</p>
           
            <div class="details-prize-participation  animate__animated animate__zoomIn animate__delay-1s">
                <div class="detail-prize">
                    <img src="https://img.icons8.com/color/96/000000/prize.png" alt="">
                    <p class="detail-title">Premio</p>
                    <p><strong>COL</strong> 50.000
                    </p>
                </div>
                <div class="detail-participation">
                    <img src="https://img.icons8.com/color/96/000000/fire-heart--v1.png" alt="">
                    <p class="detail-title">Participantes</p>
                    <p>5000</p>
                </div>
            </div>
            <div class="send-container">
                <button type="submit" class="btn btnEnviar" routerLink="/login" (click)="participate()">Quiero participar!</button>
            </div>
        </div>
    </div>
   
</section>
