<h4 class="mt-4" *ngIf="files.length===0">No tienes vídeos aún, sube tu primer vídeo!</h4>
<div class="row row-cols-1 row-cols-md-4 mt-4 container g-4" *ngIf="files.length!==0">
  <div class="col videoPanel" [routerLink]="['/home/play',item.getId()]" *ngFor="let item of files">
    <div class="card video-container">
      <img src="https://phantom-elmundo.unidadeditorial.es/0b02f8d5f415175b0796a8b6e6ae2ace/resize/746/f/jpg/assets/multimedia/imagenes/2020/12/14/16079645639088.jpg" alt="imagenPrueba">
      <div class="card-body">
        <h5 class="card-title">{{item.getName()}}</h5>
        <!-- <p class="card-text">{{item.description}}</p> -->
      </div>
    </div>
  </div>
</div>