<section class="video-section container-fluid ">
  <div class="video-content container">
  <h4 class="mt-4" *ngIf="files.length===0">No tienes vídeos aún, sube tu primer vídeo!</h4>
  <div class="row " *ngIf="files.length!==0">
    <div class="col mb-3" *ngFor="let item of files">
      <div class="card video-container videoPanel" [routerLink]="['/home/play',item.getId()]" >
        <div class="image-container">
          <img  class = "video-image" src="../../../../assets/images/dash3.jpg" alt="imagenPrueba">
          <span class="video-data-content">
            <div class="view-container">
              <img src="../../../../assets/images/eye.png">
              <p>1000</p>
            </div>
            <img src="../../../../assets/images/heart.png" alt="">
          </span>
        </div>
        <div class="card-body">
          <p class="card-title">{{item.getName()}}</p>
          <!-- <p class="card-text">{{item.description}}</p> -->
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam corrupti laborum atque!.</p>
          <hr>
          <div class="user-information">
            <img src="https://los40es00.epimg.net/los40/imagenes/2020/09/09/cinetv/1599651323_053256_1599651719_noticia_normal.jpg" alt="" class="user-icon">
            <p>Nombre de usuario</p>
          </div>
        </div>
      </div>
    </div>
      
  </div>
  </div>
</section>
