

    <div class="card height-100" *ngIf="myfile!==undefined||myfile!==null"> 
        <video 
        oncontextmenu="return false;"
        id="my-video"
        class="fm-video video-js video-player vjs-big-play-centered"
        controls
        controlslist="nodownload"

        preload="auto"
        data-setup='{fluid:true}'
        width="100vw"
        src="http://127.0.0.1:8000{{myfile.getPath()}}"
        autoplay

      >
      </video>
      
        <div class="p-3 content">
            <h4>{{myfile.getName()}}</h4>
            <!-- <p>{{.description}}</p> -->
        </div>

    </div>


   