<section>
<div class="card container" *ngIf="myfile !== undefined && myfile !== null">
  <video
  *ngIf="myfile!==null"
    oncontextmenu="return false;"
    id="my-video"
    class="fm-video video-js video-player vjs-big-play-centered"
    controls
    controlslist="nodownload"
    preload="auto"
    data-setup="{fluid:true}"
    width="100vw"
    src="http://127.0.0.1:8000{{ myfile.getPath() }}"
    autoplay
  ></video>

  <div class="p-3 content mb-4">
    <div class="video-data d-flex">
      <h4  *ngIf="myfile!==null">{{ myfile.getName() }}</h4>
 
      <div class="like-container d-flex">
        <div class="view-container d-flex">
          <p>100</p>
          <span>
            <i class="fas fa-eye"></i>
          </span>
        </div>
        <p>{{10}}</p>
        <span class="like-content" (click)="likeVideo()">
          <i class="far fa-heart animate_animated animate__rubberBand" *ngIf="!isLike"></i>
          <i class="fas fa-heart" *ngIf="isLike"></i>
        </span> 
        
      </div>
 

    </div>
    <!-- <p>{{.description}}</p> -->
    <p class="mb-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas sit
      quia soluta culpa delectus distinctio optio quae repudiandae dicta
      ratione, est sapiente ad praesentium nam ex saepe! Nobis, corporis.
      Maiores?
    </p>    
    <div class="user-information">
        <img src="https://los40es00.epimg.net/los40/imagenes/2020/09/09/cinetv/1599651323_053256_1599651719_noticia_normal.jpg" alt="" class="user-icon">
        <p>Nombre de usuario</p>
      </div>
  </div>
</div>
</section>