

    <div class="card height-100"> 
        <video
        id="my-video"
        class="fm-video video-js video-player vjs-big-play-centered"
        controls
        preload="auto"
        data-setup='{fluid:true}'
        width="100vw"
      >
      <source src="../../../assets/videos/prueba.mp4" type = "video/mp4"/>
      </video>
      
        <div class="p-3 content">
            <h4>Set for the Ashes</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

    </div>

   