<section class ="register-container">
  <form class="register_form needs-validation" [formGroup]="form" (ngSubmit)="registrar()">
    <h2>Registrarse</h2>
    <div class="mb-3 datos">
      <label for="nombretxt" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="nombretxt"
        [ngClass]="{'is-invalid': form.get('nombre')?.dirty && form.get('nombre')?.hasError('required')}" 
        required/>
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        Debe digitar un nombre
      </div>
    </div>
    <div class="mb-3 datos">
      <label for="correotxt" class="form-label">Correo</label>
      <input type="text" class="form-control " formControlName="correo" id="correo" 
      [ngClass]="{'is-invalid': form.get('correo')?.dirty && form.get('correo')?.hasError('required') || form.get('correo')?.hasError('email')}" required>
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        Debe digitar un correo valido
      </div>
    </div>
    <div class="mb-3 datos">
      <label for="usuariotxt" class="form-label">Usuario</label>
      <input type="text" class="form-control" formControlName="usuario" id="usuario" 
      [ngClass]="{'is-invalid': form.get('usuario')?.dirty && form.get('usuario')?.hasError('required')}" required>
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        Debe digitar un usuario
      </div>
    </div>
    <div class="mb-3 datos">
      <label for="passwordtxt" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="passwordtxt"  formControlName="password"
       [ngClass]="{'is-invalid': form.get('password')?.dirty && form.get('password')?.hasError('required')}" required >
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        Debe digitar una contraseña
      </div>
    </div>
    <button type="submit" class="btn btnEnviar" [disabled]="form.invalid">Registrarme</button>
  </form>
</section>

