<section class="register-section">
  <div class="register-container">
    <form
      class="register_form needs-validation"
      [formGroup]="form"
      (ngSubmit)="register()"
    >
      <h2>Registrarse</h2>
      <!-- ID -->
      <div class="mt-3 datos data-container">
        <div class="data-content personal-info id-container">
          <div class="type-container">
            <select class="form-select" aria-label="Default select example">
              <option>CC</option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control p-0"
              formControlName="id"
              id="idtxt"
              [ngClass]="{
                'is-invalid':
                  (form.get('id')?.dirty &&
                    form.get('id')?.hasError('required')) ||
                  form.get('id')?.hasError('pattern')
              }"
              required
              style="box-shadow: none; border-radius: 0px"
            />
            <label class="form-control-placeholder p-0 idlbl" for="name lbl"
              >identificación</label
            >
            <!-- Validate Message -->
            <div id="validationServerNameFeedback" class="invalid-feedback">
              <p *ngIf="form.get('id')?.hasError('required')">
                Debe digitar una identificación
              </p>
              <p *ngIf="form.get('id')?.hasError('pattern')">
                Sólo puede digitar números
              </p>
            </div>
            <!-- /Validate message -->
          </div>
        </div>
        <!-- /ID -->
        <!-- NOMBRE -->
        <div class="data-content personal-info">
          <div class="form-group personal-info">
            <input
              type="text"
              class="form-control p-0"
              formControlName="name"
              id="nametxt"
              [ngClass]="{
                'is-invalid':
                  (form.get('name')?.dirty &&
                    form.get('name')?.hasError('required')) ||
                  form.get('name')?.hasError('pattern')
              }"
              required
              style="box-shadow: none; border-radius: 0px"
            />
            <label class="form-control-placeholder p-0" for="name lbl"
              >Nombre</label
            >
            <div id="validationServerNameFeedback" class="invalid-feedback">
              <p *ngIf="form.get('name')?.hasError('required')">
                Debe digitar un nombre
              </p>
              <p *ngIf="form.get('name')?.hasError('pattern')">
                Este campo sólo admite letras
              </p>
            </div>
          </div>
        </div>
        <!-- /NOMBRE -->
      </div>
      <!-- EMAIL -->
      <div class="mt-4 datos">
        <div class="form-group">
          <input
            type="text"
            class="form-control p-0"
            formControlName="email"
            id="emailtxt"
            [ngClass]="{
              'is-invalid':
                (form.get('email')?.dirty &&
                  form.get('email')?.hasError('required')) ||
                form.get('email')?.hasError('email')
            }"
            required
            style="box-shadow: none; border-radius: 0px"
          />
          <label class="form-control-placeholder p-0" for="name lbl"
            >Email</label
          >
          <div id="validationServerEmailFeedback" class="invalid-feedback">
            Debe digitar un correo valido
          </div>
        </div>
      </div>
      <!--/EMAIL -->
      <!-- USER -->
      <div class="mt-4 datos">
        <div class="form-group user-container">
          <input
            type="text"
            id="usuariotxt"
            class="form-control p-0"
            formControlName="user"
            [ngClass]="{
              'is-invalid':
                form.get('user')?.dirty &&
                form.get('user')?.hasError('required')
            }"
            required
            style="box-shadow: none; border-radius: 0px"
          />
          <label class="form-control-placeholder p-0" for="name lbl"
            >Usuario</label
          >
          <!-- Validate Message -->
          <div id="validationServerNameFeedback" class="invalid-feedback">
            <p *ngIf="form.get('user')?.hasError('required')">
              Debe digitar un usuario
            </p>
          </div>
          <!-- /Validate message -->
        </div>
      </div>
      <!-- /USER -->
      <!-- PASSWORD -->
      <div class="mt-4 datos">
        <div class="password-container">
          <div class="form-group">
            <input
              type="password"
              id="passwordtxt"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.get('password')?.dirty &&
                  form.get('password')?.hasError('required')
              }"
              class="form-control p-0"
              required
              style="box-shadow: none; border-radius: 0px"
            />
            <label class="form-control-placeholder p-0" for="name"
              >Contraseña</label
            >
          </div>
          <!-- Show password icon -->
          <div class="form-group-pospend">
            <span class="form-group-text" (click)="showPassword()">
              <i *ngIf="!isText" class="fa fa-eye" aria-hidden="true"></i>
              <i *ngIf="isText" class="fa fa-eye-slash" aria-hidden="true"></i>
            </span>
          </div>
          <!-- /Show password icon -->
        </div>
        <!-- Validate Message -->
        <div 
        id="validationServerNameFeedback" class="invalid-container"
        *ngIf="form.get('password')?.dirty &&
        form.get('password')?.hasError('required')" >
          <p >
            Debe digitar una contraseña
          </p>
        </div>
        <!-- /Validate message -->
      </div>
      <!-- /PASSWORD -->
      <!-- UBICATION -->
      <div class="mt-4 datos data-container ubication">
        <!-- COUNTRY -->
        <div class="data-content">
          <label for="ubicationcmbx" class="form-label">País</label>
          <div class="input-group">
            <div class="form-group-prepend">
              <span class="form-group-text"
                ><i class="fas fa-globe-europe"></i
              ></span>
            </div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="country"
              id="ubicationcmbx"
            >
              <option
                *ngFor="let item of countries; index as i"
                [ngValue]="item"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- COUNTRY -->
        <!-- CITY -->
        <div class="data-content">
          <label for="citycmbx" class="form-label">Ciudad</label>
          <div class="input-group">
            <div class="form-group-prepend">
              <span class="form-group-text"
                ><i class="fas fa-search-location"></i
              ></span>
            </div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="city"
              id="citycmbx"
            >
              <option
                *ngFor="let item of cities; index as i"
                [ngValue]="item"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- CITY -->
      </div>
      <!-- GENDER -->
      <div class="mt-4 datos data-container gender">
        <div class="data-content">
          <label class="form-label">Género</label>
          <div class="input-group gender-container">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault1"
                value="false"
                formControlName="gender"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Femenino
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault2"
                checked
                formControlName="gender"
                value="true"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Masculino
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- /GENDER -->
      <!-- Messages -->
      <div class="alert alert-secondary" role="alert" *ngIf="successRegister">
        Datos registrados con éxito!
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="registerError">
        <strong>Error! </strong> {{ message }}
      </div>
      <!-- Messages -->
      <button type="submit" class="btn btnEnviar" [disabled]="form.invalid">
        Registrarme
      </button>
      <button type="button" class="btn btnLogin mt-4 mb-3" routerLink="/login">
        Iniciar sesión
      </button>
    </form>
  </div>
</section>
