<section class="register-section">
  <div class="register-container">
    <form
      class="register_form needs-validation"
      [formGroup]="form"
      (ngSubmit)="register()"
    >
      <h2>Registrarse</h2>
      <!-- ID -->
      <div class="mb-3 datos data-container">
        <div class="data-content personal-info">
          <label for="idtxt" class="form-label">Identificación</label>
          <div class="input-group ">
            <select class="form-select" aria-label="Default select example">
              <option selected>CC</option>
            </select>
            <input
              type="text"
              class="form-control"
              formControlName="id"
              id="idtxt"
              [ngClass]="{
                'is-invalid':
                  (form.get('id')?.dirty &&
                   form.get('id')?.hasError('required')||
                   form.get('id')?.hasError('pattern'))
              }"
              required
            />
            <!-- Validate Message -->
            <div id="validationServerNameFeedback" class="invalid-feedback">
              <p *ngIf="form.get('id')?.hasError('required')">
                Debe digitar una identificación
              </p>
              <p *ngIf="form.get('id')?.hasError('pattern')">
                Sólo puede digitar números
              </p>
            </div>
            <!-- /Validate message -->
          </div>       
        </div>
        <!-- /ID -->
        <!-- NOMBRE -->
        <div class="data-content personal-info">
          <label for="nametxt" class="form-label">Nombre</label>
          <div class="input-group personal-info">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="far fa-address-card"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="nametxt"
              [ngClass]="{
                'is-invalid':
                  (form.get('name')?.dirty &&
                    form.get('name')?.hasError('required')) ||
                  form.get('name')?.hasError('pattern')
              }"
              required
            />
            <div id="validationServerNameFeedback" class="invalid-feedback">
              <p *ngIf="form.get('name')?.hasError('required')">
                Debe digitar un nombre
              </p>
              <p *ngIf="form.get('name')?.hasError('pattern')">
                Este campo sólo admite letras
              </p>
            </div>
          </div>
       
        </div>
      <!-- /NOMBRE -->
      </div>
      <!-- EMAIL -->
      <div class="mb-3 datos ">
          <label for="emailtxt" class="form-label">Correo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="far fa-envelope"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="emailtxt"
              [ngClass]="{
                'is-invalid':
                  (form.get('email')?.dirty &&
                    form.get('email')?.hasError('required')) ||
                  form.get('email')?.hasError('email')
              }"
              required
            />
            <div id="validationServerEmailFeedback" class="invalid-feedback">
              Debe digitar un correo valido
            </div>
          </div>
          
        
      </div>
      <!--/EMAIL -->
      <!-- USER -->
      <div class="mb-3 datos">
        <label for="usertxt" class="form-label">Usuario</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-user"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="user"
            id="usertxt"
            [ngClass]="{
              'is-invalid':
                form.get('user')?.dirty &&
                form.get('user')?.hasError('required')
            }"
            required
          />
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Debe digitar un usuario
          </div>
        </div>
      </div>
      <!-- /USER -->
      <!-- PASSWORD -->
      <div class="mb-3 datos">
        <div class="data-content">
          <label for="passwordtxt" class="form-label">Contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text prepend-container"
                ><img
                  class="prepend-icon"
                  src="https://img.icons8.com/carbon-copy/100/000000/password.png"
              /></span>
            </div>
            <input
              type="password"
              class="form-control"
              id="passwordtxt"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.get('password')?.dirty &&
                  form.get('password')?.hasError('required')
              }"
              required
            />
            <div class="input-group-pospend">
              <span class="input-group-text password--icons__container" (click)="showPassword()">
                <i  *ngIf="!isText"class="fa fa-eye" aria-hidden="true"></i>
                <i  *ngIf="isText" class="fa fa-eye-slash" aria-hidden="true"></i>
              </span>
            </div>
            
          <div id="validationServerPasswordFeedback" class="invalid-feedback">
            Debe digitar una contraseña
          </div>
          </div>

        </div>
      </div>
      <!-- /PASSWORD -->
      <!-- UBICATION -->  
      <div class="mb-3 datos data-container ubication">
         <!-- COUNTRY -->
        <div class="data-content">
          <label for="ubicationcmbx" class="form-label">País</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-globe-europe"></i
              ></span>
            </div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="country"
              id="ubicationcmbx"
            >
              <option selected>Open this select menu</option>
            </select>
          </div>
        </div>
        <!-- COUNTRY -->
        <!-- CITY -->
        <div class="data-content">
          <label for="citycmbx" class="form-label">Ciudad</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-search-location"></i
              ></span>
            </div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="city"
              id="citycmbx"
            >
              <option selected>Open this select menu</option>
            </select>
          </div>
        </div>
        <!-- CITY -->
      </div>
      <!-- GENDER -->
      <div class="mb-3 datos data-container gender">
        <div class="data-content">
          <label class="form-label">Género</label>
          <div class="input-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault1"
                value="femenino"
                formControlName="gender"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Femenino
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault2"
                checked
                formControlName="gender"
                value="masculino"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Masculino
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault3"
                formControlName="gender"
                value="otro"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Otro
              </label>
            </div>
          </div>
        </div>
     
      </div>
      <!-- /GENDER -->
      <!-- Messages -->
      <div class="alert alert-secondary" role="alert" *ngIf="successRegister">
        Datos registrados con éxito!
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="registerError">
        <strong>Error! </strong> {{ message }}
      </div>
      <!-- Messages -->
      <button type="submit" class="btn btnEnviar" [disabled]="form.invalid">
        Registrarme
      </button>
    </form>
  </div>
</section>
