span i {
  color: #000000e8;
}
span {
  background-color: #ffffff4d;
  border: none;
}
input {
  border: none;
  background-color: #ffffff4d;
}
input:focus{
  background: #ffffffe6;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
select {
  background-color: #ffffff4d;
  border: none;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  color: grey
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey
}

input.form-control:focus,
input.form-control:after {
  outline-width: 0;
  border-bottom: 1px solid aqua;
  background: transparent
}
.register-section {
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container {
  width: 600px;
  padding: 30px 40px 15px;
  border-radius: 40px;
  background-color: #ffffffe6;
  color: #0a0a0a;
}
.register-container h2 {
  margin-bottom: 25px;
  color: #ff3300;
}
.register_form {
  display: flex;
  flex-direction: column;
}
.form-control.is-invalid,
.invalid-password .was-validated .form-control:invalid {
  background-image: none;
}
.data-container {
  display: flex;
  justify-content: space-between;
}
.personal-info {
  max-width: 240px;
}

.input-group
{
  border-bottom: 1px solid #b3b0b0;
}
.input-group:hover
 {
  border-bottom: 1px solid #c79812;
}

.password--icons__container {
  cursor: pointer;
  border-radius: 0;
}
.ubication {
  justify-content: space-evenly;
}
.gender-container {
  border-bottom: none !important;
}
.gender {
  text-align: center;
  justify-content: center;
}
.form-check {
  margin-right: 20px;
}
.invalid-feedback p {
  margin: 0;
}
.invalid {
  border: 1px solid #dc3545;
}
.register_form .btnEnviar {
  margin-top: 25px;
  margin-bottom: 38px;
}

.input-group-pospend span {
  height: 37px; 
  border: none;
}
.btnEnviar {
  background-color: #c79812;
  color: white;
  margin-bottom: 0  !important;
}
.btnLogin{
  margin:0 auto;
  width: 300px;
  color:#FF9900;
  border: 1px solid #FF9900;
}
.btnLogin:hover{
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  -ms-transform:scale(1.03);
  -o-transform:scale(1.03);
  transform:scale(1.03);
}
@media only screen and (max-width: 540px) {
  .register-container {
    width: 100%;
  }
  .register-container {
    padding: 15px 35px 0px;
    margin-top: 70px;
  }
}
