
span i{
  color:#000000e8;
}
span{
  background-color: #ffff;
  border:none;
}
input{
  border:none;
}
select{
 border:none;
}
.register-section{
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container{
    width: 600px;
    background-color: #000000b5; 
    padding: 30px 40px 15px;
    border-radius: 40px;
    color:white;
}
.register-container h2{
    margin-bottom: 25px;
} 
.register_form{
    display: flex;
    flex-direction: column;
}
.form-control.is-invalid , .invalid-password .was-validated .form-control:invalid{
  background-image: none;
}
.data-container{
  display: flex;
  justify-content: space-between;
}
.personal-info{
  max-width: 240px;
}
.password--icons__container{
  cursor: pointer;
  border-radius: 0;
}
.ubication{
  justify-content: space-evenly;
}
.gender{
  text-align: center;
  justify-content: center;
}
.form-check{
  margin-right: 45px;
}
.invalid-feedback p{
  margin: 0;
}
.invalid{
  border: 1px solid #dc3545;
}
.register_form .btnEnviar{
    margin-top: 25px;
    margin-bottom: 38px;
}

.prepend-container{
  padding: 0;
  height: 38px;
}
.prepend-icon{
  width: 40px;
}
.input-group-pospend span{
  height: 38px;
  border:none;
}
.btnEnviar{
background-color: #c79812;
color:white;
}

  @media only screen and (max-width: 540px) {
    .register-container{
      width: 100%;
    }
    .register-container{
      padding: 15px 35px 0px;
      margin-top: 70px;
    }
  }


