<section class="login-section">
  <div class="login-container">
    <form class="login_form" [formGroup]="form" (ngSubmit)="login()">
      <h2>Iniciar Sesión</h2>
      <div class="datos">
        <div class="form-group user-container">
          <input
            type="text"
            id="usuariotxt"
            class="form-control p-0"
            formControlName="user"
            [ngClass]="{
              'is-invalid':
                (form.get('user')?.dirty &&
                  form.get('user')?.hasError('required'))
            }"
            required
            style="box-shadow: none; border-radius: 0px"
          />
          <label class="form-control-placeholder p-0" for="name lbl"
            >Usuario</label
          >
          <!-- Validate Message -->
          <div id="validationServerNameFeedback" class="invalid-feedback">
            <p *ngIf="form.get('user')?.hasError('required')">
              Debe digitar un usuario
            </p>
          </div>
          <!-- /Validate message -->
        </div>
        <div class="password-container">
          <div class="form-group password-content">
            <span
            class="input-group-text eye-content"
            (click)="showPassword()"
          >
            <i *ngIf="!isText" class="fa fa-eye" aria-hidden="true"></i>
            <i *ngIf="isText" class="fa fa-eye-slash" aria-hidden="true"></i>
          </span>
            <input
              type="password"
              id="passwordtxt"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.get('password')?.dirty &&
                  form.get('password')?.hasError('required')
              }"
              class="form-control p-0"
              required
              style="box-shadow: none; border-radius: 0px"
            />
            <label class="form-control-placeholder p-0" for="name"
              >Contraseña</label
            >
          <!-- Validate Message -->
          <div id="validationServerNameFeedback" class="invalid-feedback">
            <p *ngIf="form.get('password')?.hasError('required')">
              Debe digitar una contraseña
            </p>
          </div>
          <!-- /Validate message -->
          </div>
          <!-- Show password icon -->
          <!-- <div class="input-group-pospend">
       
          </div> -->
          <!-- /Show password icon -->
        </div>
      </div>
      <!-- MESSAGES -->
      <div class="alert alert-danger mt-3" role="alert" *ngIf="loginError">
        <strong>Error! </strong> {{ message }}
      </div>
      <!-- JOIN BUTTON -->
      <button type="submit" class="btn btnSend mt-3" [disabled]="form.invalid">
        Ingresar
      </button>
      <!-- REGISTER BUTTON -->
      <button type="button" class="btn btnRegister mt-5" routerLink="/register">
        Registrate
      </button>
    </form>
  </div>
</section>
