

 <section class ="login-container">
    <form class="login_form" [formGroup]="form" (ngSubmit)="login()">
      <h2>Iniciar Sesión</h2>
        <div class="mb-3 datos">
          <label for="usuariotxt" class="form-label">Usuario</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="user" id="usuariotxt" 
            [ngClass]="{'is-invalid': form.get('user')?.dirty && form.get('user')?.hasError('required')}"
            required />
            <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
              Debe digitar un usuario
            </div>
          </div>
         
        </div>
        <div class="mb-3 datos">
          <label for="passwordtxt" class="form-label">Contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            </div>
          <input type="password" class="form-control" id="passwordtxt"  formControlName="password" 
          [ngClass]="{'is-invalid': form.get('password')?.dirty && form.get('password')?.hasError('required')}"/>
          <div id="validationServerPasswordFeedback" class="invalid-feedback"> 
            Debe digitar una contraseña
          </div>
        </div>    
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="loginError">
         <strong>Error! </strong> usuario y/o contraseña incorrecta
        </div>
      <button type="submit" class="btn btnEnviar" [disabled]="form.invalid">Ingresar</button>
    </form>
    <p class="login__container--register">No tienes ninguna cuenta      <a routerLink="/register">    Regístrate</a></p>
  </section>
  
    <!-- <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Username">
                </div> -->

