span i {
  color: #808080;
}
span {
  background-color: #fff0;
  border: none;
}
input {
  border: none;
  background-color: #ffffff4d;
}

select {
  background-color: #ffffff4d;
  border: none;
}

.form-group {
  position: relative;
  margin-bottom: 0;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  color: grey
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey
}
input.form-control:focus,
input.form-control:after
{
  outline-width: 0;
  border-bottom: 1px solid #FF9900;
  background: transparent;
}

.login-section {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #ffffffe6;
  padding: 60px 68px 40px;
  border-radius: 40px;
  color: #0a0a0a;
}
.login_form {
  display: flex;
  flex-direction: column;
}
.form-control.is-invalid,
.invalid-password .was-validated .form-control:invalid {
  background-image: none;
}
.login-container h2 {
  color: #ff3300;
}
.password-content{
  width: 100%;
}
.eye-content{
  width: 30px;
  margin: 0;
  padding: 0;
  position:absolute;
  right: 0;
  top: 9px;
  cursor: pointer;
}
.password-container{
  display: flex;
}

#passwordtxt {
  border-right: none;
}
.user-container,
.password-container{
  margin-top: 40px;
}
.login_form .btnEnviar {
  margin-top: 25px;
  margin-bottom: 38px;
}
.btnSend {
  background-color: #FF9900;
  color: white;
}
.btnRegister{
  margin:0 auto;
  width: 300px;
  color:#FF9900;
  border: 1px solid #FF9900;
}
.btnRegister:hover{
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  -ms-transform:scale(1.03);
  -o-transform:scale(1.03);
  transform:scale(1.03);
}

@media only screen and (min-width: 534px) {
  .login-container {
    width: 500px;
  }
}
@media (max-width: 375px) {
  .login-container {
    margin-top: 70px;
  }
}
@media (max-width: 340px) {
  .login-container {
    padding: 20px 35px 0px;
  }
}
