
.section-title{
    font-size: 46px;
    font-weight: 600;
    color: #232938;
    text-align: center;
    margin-top: 80px;
}
.type-description{
    font-size: 30px;
    font-weight: 500;
    color: #232938;
    text-align: center;
    margin-top: 20px;
}
.section-description{
    text-align: center;
}
.event-list-container{
    height: 700px;
}
.isList{
    overflow-y:scroll
}
.list-challenges{
    height: 550px;
}
.challenge-container{
    margin-top: 5px;
    border-radius: 21px 21px 21px 21px;
}
.event-card{
    border-radius: 21px 21px 21px 21px;
    box-shadow: 6px 5px 13px -2px rgb(0 0 0 / 72%);
    transition: 450ms all;
    transform-origin:center left;  
}
.card-header{
   margin: 0;
   padding: 0;
   position: relative;
}
.card-img-top{
    border-radius: 21px 21px 0px 0px;
}
.event-state{
    position: absolute;
    background-color: #34a23ad1;
    color:white;
    padding: 3px;
    width: 100px;
    bottom: 10px;
    right: 0;
    border-radius: 10px 0 0 0;
    text-align: center;
    
}
.card-title{
    color: #242521;
    margin-bottom: 5px;

}
.event-date{
    margin-bottom: 10px;
}
.card-body{
    color:#3f3e3e;    
}

.skill-title{
    font-size: 18px;
    margin-bottom: 3px;
}

.skill-pill{
    color:white;
    margin-right: 5px;
    padding: 4px;
}
.prize-content{
    display:flex;
    align-items: center;
    margin:15px 0px;
}
.prize-icon{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}
.prize-description{
    font-size: 16px;
    flex-direction: column;
}
.prize-tittle{
    font-weight: 800;
    margin-bottom: 0;
}
.prize-info{
    margin-bottom: 0;
}
.show-event{
    background-color:  #e66000 ;
    border: 2px solid #e66000;
    color: #fffdfc;
    font-weight:600;
    border-radius:30px;
}
.list-challenges:hover .event-card{
    opacity:0.3;
}
.list-challenges:hover .event-card:hover{
    transform: scale(1.01);
    opacity: 1;
}

.controls img
{
    width: 50px;
    height: 50px;
}
.carousel-control-prev{
    justify-content: flex-end;
}
.carousel-control-next{
    justify-content: end;
}
