
<section class="container-fluid section-divider event-section"
(window:scroll)="doSomethingOnWindowsScroll($event)"
>
  <p class="display-4 section-title">Eventos.</p>

  <div class="event-list-container"
  [ngClass]="{isList: principalWindow}">
  <div id="trendEvents" class="carousel slide carousel-multi-item" data-touch="false" data-interval="false" data-ride="carousel">
    <p class=" type-description mt-4">Tendencias</p>
    <!--Carousel container-->
    <div class="carousel-inner list-challenges container" role="listbox">
      <!--Carousel slide 1-->
      <div class="carousel-item active">
        <div class="row">
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card1.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card1.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card1.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card5.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card5.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="challenge-container col-md-4">
            <div class="card event-card">
              <div class="card-header">
                <img
                  src="../../../../assets/images/card5.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <span class="event-state">Activo</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Toma la mejor fotografía</h5>
                <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
                <div class="skills">
                  <span class="skill-pill badge rounded-pill bg-primary"
                    >Fotografía</span
                  >
                  <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
                </div>
                <hr />
                <div class="prize-content">
                  <img
                    class="prize-icon"
                    src="../../../../assets/images/medal.png"
                    alt="medal-icon"
                  />
                  <div class="prize-description d-flex">
                    <p class="prize-tittle">Premio</p>
                    <p class="prize-info"><strong>COL</strong> 50.000</p>
                  </div>
                </div>
      
                <div class="show-button d-flex justify-content-xl-end">
                  <button
                    type="button"
                    routerLink="/information"
                    class="btn btn-sm show-event"
                  >
                    Ver evento
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="controls">
      <a class="carousel-control-prev" href="#trendEvents" role="button" data-slide="prev">
        <img class="carousel-control-prev-icon" aria-hidden="true" src="../../../../assets/images/left-arrow.png">
      </a>
      <a class="carousel-control-next" href="#trendEvents" role="button" data-slide="next">
        <img class="carousel-control-next-icon" aria-hidden="true" src="../../../../assets/images/right-arrow.png">
      </a>
    </div>
  </div>
<!-- TIPO 1 -->
<p class="display-4 type-description">Fotografía</p>
<div id="trendEvents2" class="carousel slide carousel-multi-item" data-touch="false" data-interval="false" data-ride="carousel">
  <!--Carousel container-->
  <div class="carousel-inner list-challenges container" role="listbox">
    <!--Carousel slide 1-->
    <div class="carousel-item active">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="controls">
    <a class="carousel-control-prev" href="#trendEvents2" role="button" data-slide="prev">
      <img class="carousel-control-prev-icon" aria-hidden="true" src="../../../../assets/images/left-arrow.png">
    </a>
    <a class="carousel-control-next" href="#trendEvents2" role="button" data-slide="next">
      <img class="carousel-control-next-icon" aria-hidden="true" src="../../../../assets/images/right-arrow.png">
    </a>
  </div>
</div>

<!-- TIPO 1 -->
<p class="display-4 type-description">Fotografía</p>
<div id="trendEvents3" class="carousel slide carousel-multi-item" data-touch="false" data-interval="false" data-ride="carousel">
  <!--Carousel container-->
  <div class="carousel-inner list-challenges container" role="listbox">
    <!--Carousel slide 1-->
    <div class="carousel-item active">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="controls">
    <a class="carousel-control-prev" href="#trendEvents3" role="button" data-slide="prev">
      <img class="carousel-control-prev-icon" aria-hidden="true" src="../../../../assets/images/left-arrow.png">
    </a>
    <a class="carousel-control-next" href="#trendEvents3" role="button" data-slide="next">
      <img class="carousel-control-next-icon" aria-hidden="true" src="../../../../assets/images/right-arrow.png">
    </a>
  </div>
</div>
<!-- TIPO 1 -->
<p class="display-4 type-description">Fotografía</p>
<div id="trendEvents4" class="carousel slide carousel-multi-item" data-touch="false" data-interval="false" data-ride="carousel">
  <!--Carousel container-->
  <div class="carousel-inner list-challenges container" role="listbox">
    <!--Carousel slide 1-->
    <div class="carousel-item active">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="controls">
    <a class="carousel-control-prev" href="#trendEvents4" role="button" data-slide="prev">
      <img class="carousel-control-prev-icon" aria-hidden="true" src="../../../../assets/images/left-arrow.png">
    </a>
    <a class="carousel-control-next" href="#trendEvents4" role="button" data-slide="next">
      <img class="carousel-control-next-icon" aria-hidden="true" src="../../../../assets/images/right-arrow.png">
    </a>
  </div>
</div>
<!-- TIPO 1 -->
<p class="display-4 type-description">Fotografía</p>
<div id="trendEvents5" class="carousel slide carousel-multi-item" data-touch="false" data-interval="false" data-ride="carousel">
  <!--Carousel container-->
  <div class="carousel-inner list-challenges container" role="listbox">
    <!--Carousel slide 1-->
    <div class="carousel-item active">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-md-4">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="controls">
    <a class="carousel-control-prev" href="#trendEvents5" role="button" data-slide="prev">
      <img class="carousel-control-prev-icon" aria-hidden="true" src="../../../../assets/images/left-arrow.png">
    </a>
    <a class="carousel-control-next" href="#trendEvents5" role="button" data-slide="next">
      <img class="carousel-control-next-icon" aria-hidden="true" src="../../../../assets/images/right-arrow.png">
    </a>
  </div>
</div>
</div>
<!-- /TIPO 1 -->
<!-- TIPO 2 -->
<!-- /TIPO 2 -->
</section>

