<section class="list-challenges container section-divider">
    <p class="display-4 section-title">Desafíos</p>
    <p class="section-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.    </p>
    <div class="row">  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card">

          <img src="../../../../assets/images/Fondo-gris.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">Toma fotografías de personas que muestren la nueva normalidad</h5>
            <p><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <p class="card-text skill-title"><strong>Hábilidades</strong>
              </p>
              <span class="skill-pill badge rounded-pill bg-primary">Fotografía</span>
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <div class="prize-content">
              <img class="prize-icon" src="../../../../assets/images/medal.png" alt="medal-icon" >
              <p class="prize-info"><strong>COL</strong> 50.000</p>
            </div>
            <div class="show-button d-flex justify-content-xl-end">
              <button type="button" routerLink="/information" class="btn btn-sm btn44">Ver desafío</button>
            </div>

          </div>
        </div>
      </div>  
    </div>  
     

  </section>