
<section class="container section-divider">
  <p class="display-4 section-title">Eventos</p>
  <p class="section-description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam
    laborum, ducimus, laboriosam sint dolorum aspernatur libero.
  </p>
  <div class="list-challenges">
    <div class="row">
      <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
        <div class="card event-card">
          <div class="card-header">
            <img
              src="../../../../assets/images/card1.jpg"
              class="card-img-top"
              alt="..."
            />
            <span class="event-state">Activo</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Toma la mejor fotografía</h5>
            <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
            <div class="skills">
              <span class="skill-pill badge rounded-pill bg-primary"
                >Fotografía</span
              >
              <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
            </div>
            <hr />
            <div class="prize-content">
              <img
                class="prize-icon"
                src="../../../../assets/images/medal.png"
                alt="medal-icon"
              />
              <div class="prize-description d-flex">
                <p class="prize-tittle">Premio</p>
                <p class="prize-info"><strong>COL</strong> 50.000</p>
              </div>
            </div>
  
            <div class="show-button d-flex justify-content-xl-end">
              <button
                type="button"
                routerLink="/information"
                class="btn btn-sm show-event"
              >
                Ver evento
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CARROUSEL -->
<!-- <div class="carousel slide container" data-ride="carousel" data-type="multi" data-interval="false" id="myCarousel">
</div> -->
<!--Carousel-->
<div id="carouselExampleFade" class="carousel slider container carousel-multi-item" data-interval="false" data-bs-ride="carousel">
  <!--Carousel container-->
  <div class="carousel-inner list-challenges">
    <!--Carousel slide 1-->
    <div class="carousel-item active">
      <div class="row">
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card1.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="challenge-container col-12 col-md-6 col-lg-4 mb-5">
          <div class="card event-card">
            <div class="card-header">
              <img
                src="../../../../assets/images/card5.jpg"
                class="card-img-top"
                alt="..."
              />
              <span class="event-state">Activo</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Toma la mejor fotografía</h5>
              <p class="event-date"><strong>Fecha límite: </strong>23/02/2021</p>
              <div class="skills">
                <span class="skill-pill badge rounded-pill bg-primary"
                  >Fotografía</span
                >
                <span class="skill-pill badge rounded-pill bg-info">Diseño</span>
              </div>
              <hr />
              <div class="prize-content">
                <img
                  class="prize-icon"
                  src="../../../../assets/images/medal.png"
                  alt="medal-icon"
                />
                <div class="prize-description d-flex">
                  <p class="prize-tittle">Premio</p>
                  <p class="prize-info"><strong>COL</strong> 50.000</p>
                </div>
              </div>
    
              <div class="show-button d-flex justify-content-xl-end">
                <button
                  type="button"
                  routerLink="/information"
                  class="btn btn-sm show-event"
                >
                  Ver evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="controls">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../../../../assets/images/left-arrow.png"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><img src="../../../../assets/images/right-arrow.png"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
</div>
