.upload-video{
    /* margin:0 auto; */
}
.drop-content
{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.drop-content .navigate-btn{
  border:none;
  background-color: transparent;
  color: #0782d0;
  font-weight: 600;
}
.drop-content p,button{
  margin: 0;
}
.fileDescription
{
  display: flex;
  justify-content: space-between;
}
td video{
  text-align: center;
}
.btnSend{
  border:none;
  background-color: #FF9900;
}
@media only screen and (min-width: 534px) {
    .upload-video{
      width: 500px;
    }
  }