<section class="container-fluid upload-video mt-4">
  <div class="container">
    <p class="h3 mb-3">Video</p>
  <form  class="mt-4"(ngSubmit)="uploadVideo()" [formGroup]="form">
    <div class="mb-3">
      <label for="nombretxt" class="form-label">Nombre del video</label>
      <input type="text" class="form-control" formControlName="name" name="name"id="nombretxt" aria-describedby="nameHelp"
      [ngClass]="{'is-invalid':form.get('name')?.dirty  && form.get('name')?.hasError('required')}">
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        Debe digitar un nombre
      </div>
    </div>
    <!-- <div class="mb-3">
      <label class="form-label">Descripción</label>
        <textarea class="form-control " formControlName="description" name="description" placeholder="Describe tu video" id="floatingTextarea2" style="height: 100px"
        [ngClass]="{'is-invalid':form.get('description')?.dirty  && form.get('description')?.hasError('required')||form.get('description')?.hasError('minlength')}">
        ></textarea>
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
         
         <p *ngIf="form.get('description')?.hasError('required')">Debe digitar una descripción </p>
         <p *ngIf="form.get('description')?.hasError('minlength')">La descripción debe tener almenos 10 caracteres</p>
      </div>
    </div> -->
       <!--FILEDROP-->
    <label class="form-label">Inserta tu vídeo</label>
    <div class="center">
      <ngx-file-drop
      *ngIf="myFile===undefined||myFile===null"
      accept="audio/*,video/*,image/*"
      dropZoneLabel="Drop files here"
     (onFileDrop)="dropped($event)"
     id="videoDrop">
          <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="drop-content">
              <p>Arrastra tu vídeo aquí.</p>
              o 
              <button type="button" class="navigate-btn" (click)="openFileSelector()">buscalo</button>
            </div>
          </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
          <table class="table">
              <thead>
                  <tr>
                      <th>Tu archivo</th>
                  </tr>
              </thead>
              <tbody class="upload-name-style">
                  <tr *ngIf="files.length>=1"> 
                      <td class="fileDescription">
                        <strong>{{files[0].relativePath}}</strong>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteVideo()">Eliminar</button>
                      </td>
                  </tr>
                  <tr *ngIf="files.length===0">
                    <td>
                      <p>
                        No se ha insertado ningun video
                      </p>
                    </td>
                  </tr>
                  <tr *ngIf="url!==null"> 
                    <td>
                      <video [src]="url" id="video" width="500px" height="200px" (loadedmetadata)="validateDuration()" ></video>
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
    <!--/FILEDROP  -->
    <div class="alert alert-success" role="alert" *ngIf="enviado">
      Vídeo cargado con éxito!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="videoError===true">
      <p>
        Su vídeo no puede tener una duración mayor a 5 minutos
      </p>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button type="submit" class="btn btn-primary btnSend"  [disabled]="!isValid()">Subir Vídeo</button>
    </div>
    
  </form> 
  </div>
  
</section>

 