
    <section class="main" [ngClass]="{'main-dashboard':getUrl()==='/'||getUrl()==='','main-auth':getUrl()==='/login'||getUrl()==='/register'||getUrl()==='/information'}">

      <div class="dashboard container-fluid" [ngClass]="{'dash2':getUrl()==='/'}">  
 
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light dashboard-nav shadow p-3 rounded nav col">
            <div class="container-fluid">
              <a class="navbar-brand display" routerLink="">DemoVideo</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" *ngIf="getUrl()==='/'">
                    <a class="nav-link active" aria-current="page" routerLink="register">Registrarse</a>
                  </li>
                  <li class="nav-item" *ngIf="getUrl()==='/'">
                    <a class="nav-link" routerLink="login">Iniciar sesión</a>
                  </li>
                </ul>
              
            </div>
          </nav>
        </div>
 
        <div class="banner container-fluid" *ngIf="getUrl()==='/'">
          <h2 class="display-1">Comienza a crear!</h2> 
        </div>
        <div class="overlay">
          
        </div>  
        <router-outlet></router-outlet>
      </div>
    </section>
    <app-challenge *ngIf="getUrl()==='/'"></app-challenge>
    <app-footer></app-footer>