/* .main-auth .dashboard{
    height: 94vh;
} */
.main{
    height: 100%;
}
.dash-container{
    margin-right: 0;
}
.col{
    max-width: none  !important;
}
.navbar-brand{
    width: 100%;
    background-image: url("../../../../assets/images/Logo_Insiider.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-right: 25px;
}

.nav{
    background-color: #e7e7e74f;
}
.nav-item a
{    
    text-align: center;
    cursor: pointer;
}

.sticky-nav{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 101%;
    /* background: linear-gradient(87deg,#f1b640 0,#F0653C 100%)!important; */
    background: linear-gradient(90deg, rgba(241,182,64,0.8183648459383753) 0%, rgba(240,101,60,0.7511379551820728) 48%, rgba(240,101,60,0.8799894957983193) 100%);;
    /* background: linear-gradient(90deg,rgba(240,101,60,0.8799894957983193)  0%, rgba(240,101,60,0.7511379551820728) 48%, rgba(241,182,64,0.8183648459383753) 100%);; */
    /* background: linear-gradient(90deg,rgb(202 187 183 / 92%)  0%, rgba(240,101,60,0.7511379551820728) 48%, rgba(241,182,64,0.8183648459383753) 100%); */
    /* background: linear-gradient(90deg,rgb(75 81 113 / 23%)  0%,rgb(160 88 37 / 28%)  27%, rgba(240,101,60,0.7511379551820728) 48%, rgba(241,182,64,0.8183648459383753) 100%); */
    color: white;
    box-shadow: -4px 11px 8px -8px rgba(25,25,25,0.86);
}
.sticky-nav a{
    color:white;
}
/* .sticky-nav a{
    color: whi;
} */
.dashboard{ 
    position: relative;
    padding: 0;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/6621410/pexels-photo-6621410.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
}
.dashboard-auth{
    position: inherit;
}
.dashImage{
    height: 95%;
}
.dash2 .overlay , .dash2::after{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}
.dash2 .overlay{
    top:0;
    bottom: 0;
    width: 100%;
    opacity: .9;
}
.dash2::after{
    content:"";
    display: block;
    background: url("src\assets\images\separador2.png") bottom no-repeat;
    background-size: cover;
    bottom: -8px;

}


.banner{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.banner h2{
   color: #FF9900;
   margin-right: 25px;
    font-weight: 400;
    text-shadow: 2px 3px 5px rgb(14 13 15 / 88%);
}


@media (max-width:988px){
    .details .dashboard{
        height: auto;
    }
    
}
@media screen and (max-width:1150px)
{
    /* .details .dashboard{
        height: auto;
    } */
}
@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
    }
}