<section
  (window:scroll)="doSomethingOnWindowsScroll($event)"
  class="main"
>
  <!--Dependiendo la ruta , será la altura de la imagen-->

  <div
    id="dash"
    class="dashboard container-fluid"
    [ngClass]="{ 'dash2 dashImage': getUrl() === '/'}"
  >
    
    <div class="row dash-container">
      <nav
        class="navbar navbar-expand-lg navbar-light dashboard-nav shadow p-3 rounded nav col navbar-toggleable-sm animate__animated "
        [ngClass]="{ 'sticky-nav animate__fadeInDown': principalWindow === true , 'animate__slideInUp': principalWindow===false}"
      >
        <div class="container-fluid">
          <div class="navbar-brand insider-logo" routerLink="/"></div>
          <!-- Collapse button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collapse content -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/register">Registrarse</a>
              </li>
            </ul>
          </div>
          <!-- /Collapse content -->
        </div>
      </nav>
    </div>

    <div class="banner container-fluid" *ngIf="getUrl() === '/'">
      <h2 class="display-1">Comienza a crear!</h2>
    </div>
    <div class="overlay"></div>
    <app-footer *ngIf="getUrl() !== '/'"></app-footer>
    <router-outlet
      id="event-section"    
      *ngIf="getUrl() !== '/'"
    >
  </router-outlet>
  </div>
</section>
<app-event *ngIf="getUrl() === '/'"></app-event>
<app-footer *ngIf="getUrl() === '/'"></app-footer>
