<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2020 THE END</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://as.com/epik/imagenes/2020/06/18/portada/1592472855_771662_1592472928_noticia_normal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2020 THE END</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>