
<section class="create-event">
    <p class="h3 mb-3">Evento</p>
    <form [formGroup]="form" (ngSubmit)="createrEvent()">
        <div class="mb-3">
          <label for="namelbl" class="form-label ">Nombre del evento</label>
          <input type="text" formControlName="name" class="form-control" id="namelbl"
          [ngClass]="{'is-invalid':form.get('name')?.dirty  && form.get('name')?.hasError('required')}">
          <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
            Debe digitar un nombre
          </div>
        </div>
        <div class="mb-3">
            <label for="descriptionlbl" class="form-label">Descripción</label>
            <textarea class="form-control" formControlName="description" id="descriptionlbl" style="height: 100px"
            [ngClass]="{'is-invalid':form.get('description')?.dirty  && form.get('description')?.hasError('required')||form.get('description')?.hasError('minlength')}">
        </textarea>
            <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
         
                <p *ngIf="form.get('description')?.hasError('required')">Debe digitar una descripción </p>
                <p *ngIf="form.get('description')?.hasError('minlength')">La descripción debe tener almenos 10 caracteres</p>
             </div>
        </div>
        <div class="mb-3">
            <label for="prizelbl" class="form-label">Valor del premio</label>
            <input type="text" formControlName="prize" class="form-control" id="prizelbl"
            [ngClass]="{'is-invalid':form.get('prize').dirty&&form.get('prize')?.hasError('pattern')}">
            <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
                Debe digitar sólo números
            </div>
        </div>
        <div class="mb-3">
         <label for="initial-datelbl" class="form-label">Fecha Inicio</label>
         <div class="form-group">
            <input type="date" formControlName="initialDate" min="2021-02-10">
        </div>
        </div>
        <div class="mb-3">
            <label for="final-datelbl" class="form-label">Fecha Fin</label>
            <div class="form-group">
                <input type="date" formControlName="finalDate">
            </div>
        </div>
        <div class="mb-3">
            <label for="flayerlbl" class="form-label">Sube la portada del evento</label>
            <!-- Drop file -->
            <div class="center">
                <ngx-file-drop
                class="file-drop"
                *ngIf="myFile===undefined||myFile===null"
                accept="image/*"
                dropZoneLabel="Drop files here"
                (onFileDrop)="dropped($event)"
                 >
                    <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                        
                    >
                      <div class="drop-content">
                        <p>Arrastra tu vídeo aquí.</p>
                        o
                        <button type="button" class="navigate-btn" (click)="openFileSelector()">buscalo</button>
                      </div>
             

                    </ng-template>
                </ngx-file-drop>
                <div class="upload-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre del archivo</th>
                            </tr>
                        </thead>
                        <tbody class="upload-name-style">
                            <tr *ngIf="files.length>=1"> 
                                <td class="fileDescription">
                                  <strong>{{files[0].relativePath}}</strong>
                                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteVideo()">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary btnSend" [disabled]="form.invalid">Crear evento</button>
      </form>
</section>
  
