<section class="upload-video">
  <form  (ngSubmit)="uploadVideo()" [formGroup]="form">
    <div class="mb-3">
      <label for="nombretxt" class="form-label">Nombre del video</label>
      <input type="text" class="form-control" formControlName="name" id="nombretxt" aria-describedby="nameHelp" >
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <div class="form-floating">
        <textarea class="form-control" formControlName="description" placeholder="Describe tu video" id="floatingTextarea2" style="height: 100px"></textarea>
      </div>
    </div>
        <!--FILEDROP-->
    <label class="form-label">Inserta tu vídeo</label>
    <div class="center">
      <ngx-file-drop
      dropZoneLabel="Drop files here"
     (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" >
          <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Arrastra tu vídeo aquí.
          </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre del archivo</th>
                  </tr>
              </thead>
              <tbody class="upload-name-style">
                  <tr *ngIf="files.length>=1"> 
                      <td class="fileDescription">
                        <strong>{{files[0].relativePath }}</strong>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteVideo()">Eliminar</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
    <!--/FILEDROP  -->
    <div class="mb-3" *ngIf="files.length===0">
      <label for="formFile" class="form-label">o seleccionalo</label>
      <input class="form-control"  formControlName="video" type="file" id="formFile" (change)="getFileDetails($event)">
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>
  </form> 
</section>
<div class="preview" *ngIf="enviado">
  <!---->
  <video
  id="my-video"
  class="fm-video video-js video-player vjs-big-play-centered"
  controls
  preload="auto"
  data-setup='{fluid:true}'
  width="270" height="270"
>
<source [src]="url" type = "video/mp4"/>
</video>


</div>

