.footer-container{
    background:#070613f2!important;
    margin: 0;
    width: 100%;
}
.init{
    position: absolute;
    bottom: 0;
    background-color: #00000054  !important;
}
footer .texto{
    color: white;
}