footer{
    background: linear-gradient(90deg, rgba(79,76,76,0.9023984593837535) 31%, rgba(122,122,143,0.8155637254901961) 63%, rgba(52,52,52,0.76234243697479) 92%);
    width: 100%;
}

footer .texto{
    color: white;
}